/* body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header { 
    position: relative;
    text-align: center;
    font-weight: bold;
    color: #d8feff;
    background-color: cadetblue;
    padding: 5px;
    float: left;
    width: 100%;
    height: null;
    border: 2px solid #d8feff; 
}

button {
    float: right;
}

h1 {
    font-size: 2vw;
}

h2, p {
    font-size: 1vw;
}
a {
    text-decoration: none;
    font-size: 1vw;
    color: #d8feff;
}

#wrapper {
    background-color: transparent;
}

/* navigatie css */
nav {
    list-style-type: none;
    display: flex;
    justify-content: center; 
    align-items: center;
}

    ul {
        overflow: hidden;
        background-color: cadetblue;
        position: sticky;
        top: 0;
    }

    li {
        float: left;
    }

    li a {
        text-decoration: none;
        display: block;
        color: #d8feff;
        text-align: center;
        padding: 5px 7px; 
        text-decoration: none;
    }

    li a:hover {
        background-color: #20D9DF;
    }

    .active {
        background-color: #20d9dfe0;
    }

/* main {
position: relative;
text-align: center;
font-weight: bold;
color: black;
background-color: lightgreen;
padding: 5px;
float: left;
width: 70%;
height:100%;
min-height: 90%;
} */

main{
    height: 97vh;
    width: 100vw;
    float: left;
    background-color: #d8feff;
}

    .buttons {
        margin-top: 15%;
    }

    .effect {
        background-color: transparent;
        margin: 5%;
        bottom: 0%;
        display: flex;
        justify-content: center; 
        align-items: center;
    }
    /* animation button */
    button {
        border-radius: 4px;
        background-color: #20D9DF;
        border: none;
        color: #fff;
        text-align: center;
        font-size: 1vw;
        padding: 16px;
        width: 220px;
        transition: all 0.5s;
        cursor: pointer;
        box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    }

    button {
        float: center;
        cursor: pointer;
        display: block;
        position: relative;
        transition: 0.5s;
    }

    button:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 14px;
        right: -20px;
        transition: 0.5s;
    }

    button:hover {
        padding-right: 24px;
        padding-left: 8px;
        background-color: rgb(95, 158, 160);
    }

    button:hover:after {
        opacity: 1;
        right: 10px;
    }

.side {
    float: left;
    padding: 20px;
    text-align: center;
    border-radius: 10px;   
    border: 2px solid cadetblue;
}

    img {
        width: 50%;
        max-width: 120px;
        height: auto;
    }

    .info {
        color: cadetblue;
        font-size: 2vw;
    }

.m1 {
    float: left;
    padding: 20px;  
    text-align: center;
    border-radius: 10px;
    border: 2px solid cadetblue;
}

    .art1 {
        color: cadetblue;
    }

        .opleiding {
            text-align: left;
        }

.m2 {
    float: left;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid cadetblue;
}
    .stages {
        text-align: left;
    }

.m3 {
    float: left;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid cadetblue;
}
    .TALEN {
        text-align: left;
    }
/* aside {
background-color: lightblue;
float:  right;
padding: 5px;
}    */

footer {
    position: relative;
    bottom: 0;
    text-align: center;
    font-weight: bold;
    color: #d8feff;
    background-color: cadetblue;
    height: 3vh;
    float: left;
    padding: 5px;
    width: 100%;
    border: 2px solid #d8feff;
}

/* ben bezig om het responsive te maken voor mobiel en laptop, 
dus even wat research doen */
@media only screen and (max-width: 800px) {
    header, 
    main, 
    aside, 
    footer, 
    button, 
    nav, li, ul, 
    .side, .info, 
    h2, h1, li a{
    width: 100%;
}
}
/* fijne dag nog jan en sybbren */